:root{
    --color-fondo-oscuro: rgb(92, 92, 92);
    --color-fondo-claro: white;
    --color-radioactivo: #55FF72;
    --color-radiactivo-oscuro: #077d43;
    --color-oscuro: black
}
.contacte {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    background-color: var(--color-radioactivo);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px;
}
main{
    margin-top: 5%;
}
.contacte h1{
    font-weight: normal;
}
.contacte p{
    font-family: arial;
    font-weight: bold;
}
.formulariContacte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    font-family: arial;
}
input, textarea{
    border-radius: 5px;
}
input, textarea {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-fondo-claro);   
    border: 1px solid #555;  
    padding: 5px;
    width: 150%;
}
input{
    font-size: medium;
}
textarea{
    font-size: larger;
    height: 120px;
    resize: none;
}
input::placeholder, textarea::placeholder {
    color: var(--color-letras-radiactivo); 
}
.botoEnviar {
    background-color: var(--color-radiactivo);
    color: var(--color-oscuro);
    border: 2px solid var(--color-fondo-oscuro);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 150%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.botoEnviar:hover {
    background-color: var(--color-radiactivo-oscuro);
}

@media (max-width: 900px) {
    .contacte {
        margin-inline: 10%;
    }
    input, textarea, .botoEnviar {
        width: 100%;
    }
}