
body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 6%;
    padding: 20px;
}

.historia {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-right: 100px;
    padding-left: 100px;
}

.historia img {
    width: 20%;
    height: 40%;
    border-radius: 10px;
}

.historiaText h1 {
    color: var(--color-letras-radiactivo);
    font-size: 32px;
    font-weight: normal;
    font-family: 'WaterSplash', cursive;
    margin-bottom: 20px;
    text-align: center;
}

.historiaText p {
    color: var(--color-texto);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    text-align: justify;
}

/* MODO CLARO*/

body.light .historiaText h1 {
    color: var(--color-amarillo);
    font-size: 32px;
    font-weight: normal;
    font-family: 'WaterSplash', cursive;
    margin-bottom: 20px;
}

body.light .historiaText p {
    color: var(--color-gris2);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

body.light .historia img {
    width: 20%;
    height: 40%;
    border-radius: 10px;
}