:root{
    --color-fondo-oscuro: rgb(92, 92, 92);
    --color-fondo-claro: white;
    --color-boton-oscuro: red; 
    --color-boton-claro: blue; 
    --color-letras-radiactivo: #55FF72;
    --color-radiactivo-oscuro: #077d43;
}

.imatgePortada img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.infoPagines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.infoPagines button {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.infoPagines button h2 {
    color: var(--color-letras-radiactivo);
    margin-bottom: 10px;
}
.infoPagines button p {
    color: white;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.infoPagines button:hover {
    transform: scale(1.05);
    box-shadow:var(--color-letras-radiactivo) 0px 0px 10px;
}

@media (max-width: 900px) {
    .infoPagines {
        grid-template-columns: 1fr;
    }
}