:root{
    --color-fondo-oscuro: rgb(92, 92, 92);
    --color-fondo-claro: white;

    --color-boton-oscuro: red; 
    --color-boton-claro: blue; 
    --color-letras-radiactivo: #01ed36;
    --color-radiactivo-oscuro: #026417;
}

.mainJugar{
    align-items: center;
    justify-content: center;
    display: flex;
}

.mainJugar button {
    background-color: black;
    padding: 50px 100px;
    color: var(--color-letras-radiactivo);
    border-radius: 5px;
    transition: transform 0.7s ease, box-shadow 0.3s ease, font-family 0.3s ease;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.mainJugar button:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px var(--color-letras-radiactivo);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
