
:root{
    --color-fondo: pink; 
    --color-boton: red; 
}

body{
    font-family: Arial;
    background-color: var(--color-fondo);
} 


.barraNavegahacion{
    background-color: var(--color-fondo);

}

footer{
    background-color: var(--color-fondo);
}

.boton{
    background-color: var(--color-boton);
}

